.dataContent{
    display: flex;
    flex-direction: row;
}

.dataContent p{
    padding: 6px;
    font-family: var(--montserrat);
    animation-duration: 2s;
    animation-name: slidein;
    
}

.dataNumber{
    font-size: 24px;

}

  
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 200%
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }

