.thisIsOxygen{
    display: flex;
    padding: 2em;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 500px;
    background-image: url('../../../public/assets/images/imgUs.jpg');
    background-size: cover;
    background-repeat: no-repeat;

}

.thisIsOxygen h1{
    font-size: 48px;
    font-family: var(--montserrat);
    color: var(--white);
    align-self: left;
    align-items: left;
    justify-content: left;
    text-align: left;
   
    
}

.misionVision{
    display: flex;
    flex-direction: row;
    gap: 2em;
    justify-content: center;
    align-items: center;

}

.mision, .vision{
    align-items: center;
    justify-content: center;
    background-color: #EBE0E0;
    
    max-width: 300px;
    border-radius: 30px;
    padding: 0.5em;
    font-family: var(--montserrat);

}

.mision h2, .vision h2{
    color: var(--strong-green);
    text-align: center;
    font-size: 30px;
    font-family: var(--montserrat);

}

.mision p, .vision p{
    font-size: 16px;
    padding: 0.5em;
}