.thisIsOxygen{
    display: flex;
    padding: 2em;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 500px;
    background-image: url('../../../public/assets/images/imgUs.jpg');
    background-size: cover;
    background-repeat: no-repeat;

}

.thisIsOxygen h1{
    font-size: 48px;
    font-family: var(--montserrat);
    color: var(--white);
    
}

.misionVision{
    display: flex;
    flex-direction: row;
    gap: 2em;
    justify-content: center;
    align-items: center;

}

.mision, .vision{
    align-items: center;
    justify-content: center;
    background-color: beige;
}