.registerForm{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.registerNav a{
    border: 0;
    background-color: white;
    color: black
}

.registerTitle{
    text-align: center;
    color:black;
    font-size: clamp(20px,2vw, 40px);
}
.formFieldDiv{
    display: flex;
    flex-direction: row;
   
}

.formField{
    display: flex;
    flex-direction: column;
    padding: 1em 2em;

}

.formField label{
    font-weight: 700;
    font-size: clamp(14px, 1.11vw, 18px);
    padding: 0.5em 0em;
}

.formField input{
    border-radius: 10px;
    max-height: 30px;
    padding: 0.5em 1em;
}