@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&family=Montserrat:wght@400;500;700&display=swap');

:root {
    /*Colores*/
    --dark-blue: #0b273a;
    --strong-green: #00BB22;
    --white: #f2f2f2;
    --grey: #d3dddb;
  
    /*Fuentes*/
    --montserrat: "Montserrat", serif;
    --dm-sans: "DM Sans", serif;
  }

  body{
    margin:0;
  }

  
@media screen and (max-width: 768px) {
  .line{
      min-width: 300px;
  }}